{{#if projects.length}}
<section>
  <h2>Your Posts</h2>
    {{#each project as |project|}}
      {{> dashboard-postinfo project}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>

<script src="/js/profile.js"></script>